<!DOCTYPE html>
<html>
    <head>
        <title>LetsBuild</title>
        <meta name="description" content="Login or create a free account on LetsBuild app." />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>